<h2>Produtos</h2>
<a routerLink="/products/create">Novo Produto</a>

<table border="1" cellpadding="5">
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.amount }}</td>
    <td>{{ product.price | currency }}</td>
    <td>
      <a [routerLink]="['/products/edit', product.id]">Editar</a>
      <button (click)="deleteProduct(product.id)">Deletar</button>
    </td>
  </tr>
</table>
